.layout {
  width: 100%;
}

.headerWrapper {
  width: 100%;
}

.page {
  // TODO return
  // max-width: 1280px;
  max-width: 927px;
  margin: 24px auto 0;
  padding: 0 20px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.stateMessage {
  margin: 0 0 10px;
  color: #5c6980;
}

.stateError {
  color: #b91c1c;
}
